<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Task</title>
</head>
<body>
<h1 th:text="${message}">Add Task</h1>

<form th:action="@{/add}" th:object="${task}" method="post">
    <div>
        <label>Title:</label>
        <input type="text" th:field="*{title}" />
    </div>

    <div>
        <label>Description:</label>
        <input type="text" th:field="*{description}" />
    </div>

    <div>
        <label>Due Date:</label>
        <input type="date" th:field="*{dueDate}" />
    </div>

    <div>
        <label>Status:</label>
        <select th:field="*{status}">
            <option th:value ="'Pending'"> Pending </option>
            <option th:value="'In Progress'">In Progress</option>
            <option th value="'Completed'">Completed </option>
        </select>
    </div>

    <div>
        <label>Priority:</label>
        <select th:field="*{priority}">
            <option th:value ="'Low'">Low</option>
            <option th:value ="'Medium'">Medium</option>
            <option th:value ="'High'">High</option>
        </select>
    </div>

    <button type="submit">Add Task</button>
</form>

</body>
</html>
